source $HOME/esp/esp-idf-v5.0/export.sh
export GVDEV=/dev/cu.usbserial-1132120
export BUILDOUT=/Volumes/wip/mn8

export_alias bu 'idf.py -B $BUILDOUT build | ggrep --color -iP "\^|warning:|error:|"'
export_alias f 'idf.py -p $GVDEV -B $BUILDOUT flash'
export_alias m 'idf.py -p $GVDEV -B $BUILDOUT monitor'
export_alias bfm 'idf.py -p $GVDEV -B $BUILDOUT build flash monitor'
export_alias fm 'idf.py -p $GVDEV -B $BUILDOUT flash monitor'
